body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #eef2e4;
}

.separate-line {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: #a6aba2 solid 1px;
}

.answer-info-panel {
  height: 200px;
}

.accepted-answer-icon, .vote-block {
  color: #2108e3;

  .current-rating {
    font-size: 25px;
    text-align: center;
  }

  svg {
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
