body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #eef2e4;
}

.separate-line {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: #a6aba2 solid 1px;
}

.answer-info-panel {
  height: 200px;
}

.accepted-answer-icon {
  font-size: 35px;
  color: #2108e3;
  margin: 27%;
  text-align: center;
}
